global_costmap:
  global_frame: map  # 全局代价地图的参考坐标系通常是 "map"
  robot_base_frame: base_link # 机器人的基座坐标系
  update_frequency: 1.0 # 地图更新频率，可以设置得比局部代价地图低
  publish_frequency: 1.0 # 地图发布频率
  transform_tolerance: 1.0 # TF 变换容忍时间
  footprint: [[0.3, 0.35], [0.3, -0.35], [-0.3, -0.35], [-0.3, 0.35]] 
  

  # 使用插件系统配置代价地图的各个层
  plugins:
    - {name: static_layer, type: "costmap_2d::StaticLayer"}
    - {name: obstacle_layer, type: "costmap_2d::ObstacleLayer"}
    - {name: inflation_layer, type: "costmap_2d::InflationLayer"}

  # 静态层参数
  static_layer:
    map_topic: /map # 静态地图话题，由 map_server 发布
    subscribe_to_updates: true # 订阅地图更新

  # 障碍物层参数
  obstacle_layer:
    enabled: true
    # max_obstacle_height: 2.0
    obstacle_range: 2.5 # 障碍物检测范围
    raytrace_range: 3.0 # 射线追踪范围
    
    # 全局代价地图的传感器数据源
    observation_sources: laser_scan_sensor
    laser_scan_sensor:
      topic: /scan
      sensor_frame: body
      data_type: LaserScan
      marking: true
      clearing: true

  # 膨胀层参数
  inflation_layer:
    inflation_radius: 0.45 # 膨胀半径
    cost_scaling_factor: 10.0 # 代价缩放系数